@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: base;
    src: url('/fonts/Lexend-VariableFont_wght.ttf');
  }
}
